@import './vars';

.header {
    position: fixed;
    width: 100%;
    background-color: $backgroundColorSecondary;
    height: 70px;
    display: flex;
    box-shadow: 3px 4px 5px rgb(0 0 0 / 50%);
    z-index: 100;
    &-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo-container {
        width: 160px;
        height: 40px;
        background-image: url('../../images/logo.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}
