@import "./vars";

.product-form {
    display: flex;
    label {
        display: block;
        margin-bottom: 20px;
        font-size: 16px;
    }
    input {
        @include standartInput(24px);
        margin-bottom: 20px;
        &:focus {
            border: 2px solid $accentColorAccept;
        }
    }
    .label-container {
        width: 88px;
        margin-right: 10px;
    }
    .block-container {
        .required-input-container {
            display: flex;
            margin-right: 70px;
        }
        .select-input {
            @include standartInput(24px);
            margin-bottom: 20px;
        }
        .category-container {
            .render-category-container {
                display: flex;
            }
        }
    }
    .second-block-container {
        .description-container {
            display: flex;
        }
        textarea {
            @include standartInput(112px);
            margin-bottom: 20px;
            &:focus {
                border: 2px solid $accentColorAccept;
            }
        }
    }
}
