@import "./vars";

.product-list {
    display: flex;
    flex-wrap: wrap;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    // justify-content: center;
    &-item {
        position: relative;
        width: 230px;
        height: 300px;
        outline: $border;
        margin-right: 40px;
        margin-bottom: 40px;
        border-radius: 3px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        &:hover {
            cursor: pointer;
            @include standartItemShadow(244, 78, 79);
            // color: $accentColor;
            .img-container img {
                opacity: 1;
            }
        }
        .img-container {
            width: inherit;
            height: 300;
            position: relative;
            z-index: 2;
            background-size: cover;
            padding-left: 15px;
            padding-right: 15px;
            p {
                position: absolute;
                z-index: 10;
                font-size: 10px;
                padding: 3px;
                background-color: $accentColor;
                color: white;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }
            img {
                display: block;
                height: 200px;
                object-fit: contain;
                object-position: center;
                margin-left: auto;
                margin-right: auto;
                padding-top: 15px;
                opacity: 0.5;
            }
        }
        .content-container {
            padding: 15px;
            .title {
                font-size: 15px;
            }
            p {
                font-size: 13px;
                span {
                    letter-spacing: 1px;
                    color: $accentColor;
                    font-weight: 600;
                }
            }
        }
    }
}
