@import "./vars";

.view-wrapper {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    border-bottom: $border;
    margin-bottom: 30px;
    .btn-container {
        display: flex;
        .link {
            display: block;
            .btn {
                @extend %btnStandart;
                &.blue:hover {
                    @include standartBtnShadow(54, 110, 252);
                    color: $accentColorAccept;
                }
                &.red:hover {
                    @include standartBtnShadow(224, 79, 78);
                    color: $accentColorCancel;
                }
            }
            &:first-child {
                margin-right: 20px;
            }
        }
    }
}
