@import "./vars";

.error-view {
    display: block;
    .title {
        text-align: center;
        margin-top: 20px;
    }
    .link {
        .btn {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            @extend %btnStandart;
            &:hover {
                @include standartBtnShadow(54, 110, 252);
                color: $accentColorAccept;
            }
        }
    }
}
